.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style for my calculator */
.Border {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 750px;
  width: 500px;
  margin: -375px 0 0 -250px;
  background-color:blue;
  color:white;
}

.Display {
  background-color:black;
  height: 25%;
  width:100%;
}

.Display span {
  position: absolute;
  bottom: 75%;
  right: 0;
  font-size: 100px;
}

.Numbers {
  background-color: grey;
  width:80%;
  height:75%;
  float: left;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
}

.numberButton {
  border-style: solid;
  border-color:black;
  height:18.75%;
  width:31%;
}

.numberButtonZero {
  border-style: solid;
  border-color:black;
  height: 18.75%;
  width:63%;
}

.Functions {
  background-color: lightgray;
  float: right;
  height: 75%;
  width:20%;
  display: flex;
  flex-flow: row wrap;
}

.functionButton:active {
  background-color:lightcoral;
}

.numberButton:active {
  background-color:lightcoral;
}

.functionButton {
  border-style: solid;
  border-color:black;
  justify-content:center;
  align-items: center;
  height: 15.6%;
  width:100%
}

/* ID's for buttons */

#one {
  background-image: url("./imgs/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#two {
  background-image: url("./imgs/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#three {
  background-image: url("./imgs/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#four {
  background-image: url("./imgs/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#five {
  background-image: url("./imgs/5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#six {
  background-image: url("./imgs/6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#seven {
  background-image: url("./imgs/7.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#eight {
  background-image: url("./imgs/8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#nine {
  background-image: url("./imgs/9.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#zero {
  background-image: url("./imgs/0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#decimal {
  background-image: url("./imgs/decimal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#division {
  background-image: url("./imgs/divide.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#multiplication {
  background-image: url("./imgs/multiply.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#minus {
  background-image: url("./imgs/subtract.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#addition {
  background-image: url("./imgs/add.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#equal {
  background-image: url("./imgs/equal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#clear {
  background-image: url("./imgs/clear.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}